@charset "UTF-8";
@font-face {
  font-family: 'Black-shrimp';
  src: url("chrome-extension://mmjjfbgmblmokgeefhlpigndfmohkchh/assets/fonts/Black-shrimp/Black-shrimp.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Black-shrimp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bs-icon-binoculars:before {
  content: ""; }

.bs-icon-eyeDropper:before {
  content: ""; }

.bs-icon-folder:before {
  content: ""; }

.bs-icon-plus:before {
  content: ""; }

.bs-icon-ruler:before {
  content: ""; }

.bs-icon-trash:before {
  content: ""; }

@font-face {
  font-family: 'Poppins';
  src: url("chrome-extension://mmjjfbgmblmokgeefhlpigndfmohkchh/assets/fonts/poppins/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.black-shrimp {
  all: initial;
  /* blocking inheritance for all properties */
  position: fixed;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  padding: 8px;
  width: 232px;
  font-family: 'Poppins', monospace;
  z-index: 9999; }
  .black-shrimp * {
    all: unset;
    /* allowing inheritance within .black-shrimp */ }

.bs-menu {
  display: block;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
  height: 28px;
  color: #474747;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden; }
  .bs-menu .bs-menu__item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 8px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    cursor: pointer;
    transition: all, 0.3, linear; }
    .bs-menu .bs-menu__item > * {
      vertical-align: top; }
    .bs-menu .bs-menu__item.active {
      color: #f0f0f0;
      background-color: #474747; }
    .bs-menu .bs-menu__item i.bs-icon {
      font-size: 18px; }

.colorPicker {
  position: fixed;
  top: 10px;
  right: 10px;
  box-sizing: border-box;
  padding: 9px;
  width: 240px;
  height: 40px;
  font-family: 'Poppins', monospace;
  font-size: 0;
  line-height: 0;
  background-color: #535353;
  border-radius: 4px;
  z-index: 9999; }
  .colorPicker > * {
    display: inline-block;
    vertical-align: top; }
  .colorPicker * {
    box-sizing: border-box; }
  .colorPicker .colorPicker__color {
    position: relative;
    margin-right: 9px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #666666; }
  .colorPicker .colorPicker__valueWrapper {
    width: 134px; }
    .colorPicker .colorPicker__valueWrapper input {
      display: inline-block;
      height: 22px;
      text-align: center;
      font-size: 11px;
      font-family: 'Poppins', monospace; }
    .colorPicker .colorPicker__valueWrapper .colorPicker__hexWrapper input {
      width: 100%; }
    .colorPicker .colorPicker__valueWrapper .colorPicker__rgbWrapper input,
    .colorPicker .colorPicker__valueWrapper .colorPicker__hslWrapper input {
      width: 43px; }
    .colorPicker .colorPicker__valueWrapper .colorPicker__rgbWrapper input + input,
    .colorPicker .colorPicker__valueWrapper .colorPicker__hslWrapper input + input {
      margin-left: 2px; }
    .colorPicker .colorPicker__valueWrapper .hidden {
      display: none !important; }
  .colorPicker input[type="text"] {
    color: #f0f0f0;
    background-color: #474747;
    border: solid 1px #666666;
    border-radius: 3px; }
