
@charset "UTF-8";
@font-face {
  font-family: 'Black-shrimp';
  src: url("chrome-extension://mmjjfbgmblmokgeefhlpigndfmohkchh/assets/fonts/Black-shrimp/Black-shrimp.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[class^="bs-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Black-shrimp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bs-icon-carret-up:before {
  content: "\E907";
}
.bs-icon-carret-down:before {
  content: "\E908";
}
.bs-icon-carret-left:before {
  content: "\E909";
}
.bs-icon-carret-right:before {
  content: "\E90A";
}
.bs-icon-close:before {
  content: "\E906";
}
.bs-icon-binoculars:before {
  content: "\E900";
}
.bs-icon-eyeDropper:before {
  content: "\E901";
}
.bs-icon-folder:before {
  content: "\E902";
}
.bs-icon-plus:before {
  content: "\E903";
}
.bs-icon-ruler:before {
  content: "\E904";
}
.bs-icon-trash:before {
  content: "\E905";
}

.blackShrimp {
  -webkit-animation: none 0s ease 0s 1 normal none running;
          animation: none 0s ease 0s 1 normal none running;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  border: medium none currentColor;
  border-collapse: separate;
  border-image: none;
  border-radius: 0;
  border-spacing: 0;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: #000;
  -webkit-columns: auto;
          columns: auto;
  -webkit-column-count: auto;
          column-count: auto;
  -webkit-column-fill: balance;
          column-fill: balance;
  -webkit-column-gap: normal;
          column-gap: normal;
  -webkit-column-rule: medium none currentColor;
          column-rule: medium none currentColor;
  -webkit-column-span: 1;
          column-span: 1;
  -webkit-column-width: auto;
          column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font-family: serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  height: auto;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  left: auto;
  letter-spacing: normal;
  list-style: disc outside none;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 2;
  outline: medium none invert;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  -webkit-perspective: none;
          perspective: none;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  position: static;
  right: auto;
  -moz-tab-size: 8;
       tab-size: 8;
  table-layout: auto;
  text-align: left;
  text-align-last: auto;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  -webkit-transform: none;
          transform: none;
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-transform-style: flat;
          transform-style: flat;
  transition: none 0s ease 0s;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 2;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  all: initial;
  /* blocking inheritance for all properties */
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 235px;
  box-sizing: border-box;
  font-family: 'Poppins', monospace;
  z-index: 9999;
}
.blackShrimp * {
    all: unset;
    /* allowing inheritance within .black-shrimp */
}
.blackShrimp.-visible {
    display: block;
}

.blackShrimp .menu {
  position: relative;
  display: block;
  height: 28px;
  color: #474747;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.blackShrimp .menu .item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 8px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.3s linear;
}
.blackShrimp .menu .item > * {
      display: inline-block;
      vertical-align: top;
      line-height: inherit;
}
.blackShrimp .menu .item:hover, .blackShrimp .menu .item:focus {
      background: #474747;
      color: #f0f0f0;
}
.blackShrimp .menu .item.-moving {
      cursor: move;
}
.blackShrimp .menu .item.active {
      color: #f0f0f0;
      background-color: #535353;
}
.blackShrimp .menu .item .bs-icon {
      font-size: 18px;
}
.blackShrimp .menu .jsClose {
    float: right;
    padding: 0;
    width: 28px;
    text-align: center;
}
.blackShrimp .menu .jsClose.-moving {
      cursor: move;
}

.blackShrimp .panel {
  position: relative;
  display: block;
  padding: 8px;
  font-size: 10px;
  color: #B3B3B3;
  background-color: #535353;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.blackShrimp .colorPicker {
  display: block;
  font-size: 0;
  line-height: 0;
}
.blackShrimp .colorPicker > * {
    display: inline-block;
    height: 22px;
    vertical-align: top;
}
.blackShrimp .colorPicker > * + * {
    margin-left: 8px;
}
.blackShrimp .colorPicker > .select-block {
    margin-left: 0;
    margin-right: -8px;
}
.blackShrimp .colorPicker > .select-block > .value > .text {
      width: 24px;
}
.blackShrimp .colorViewer {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 1px solid #666666;
  box-sizing: border-box;
}
.blackShrimp .hexWrapper, .blackShrimp .rgbWrapper, .blackShrimp .hslWrapper {
  display: none;
}
.blackShrimp .hexWrapper.active, .blackShrimp .rgbWrapper.active, .blackShrimp .hslWrapper.active {
    display: inline-block;
}
.blackShrimp .hexWrapper input {
  width: 100%;
}
.blackShrimp .rgbWrapper input, .blackShrimp .hslWrapper input {
  width: 44px;
}
.blackShrimp .rgbWrapper input + input, .blackShrimp .hslWrapper input + input {
  margin-left: 4px;
}
.blackShrimp input[type="text"] {
  display: inline-block;
  height: 22px;
  padding: 4px;
  font-family: 'Poppins', monospace;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: #f0f0f0;
  background-color: #474747;
  border: solid 1px #666666;
  border-radius: 3px;
  box-sizing: border-box;
}

.blackShrimp {
  /**
   * Select component
   */
}
.blackShrimp .select-block {
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.blackShrimp .select-block > .value {
      display: block;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 10px;
      line-height: 22px;
      text-transform: uppercase;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.blackShrimp .select-block > .value:hover > .bs-icon:before {
        color: #f0f0f0;
        background-color: #474747;
}
.blackShrimp .select-block > .value > .text {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
}
.blackShrimp .select-block > .value > .bs-icon {
        font-size: 14px;
        vertical-align: middle;
}
.blackShrimp .select-block > .value > .bs-icon.bs-icon-carret-down {
          display: inline-block;
          margin-top: -2px;
}
.blackShrimp .select-block > .value > .bs-icon.bs-icon-carret-down:before {
            display: block;
            margin-right: -8px;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            border-radius: 100%;
}
.blackShrimp .select-block > .options {
      display: none;
}
.blackShrimp .select-block > .options.-opened {
        display: block;
}
.blackShrimp .select-block > .options > .option {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 10px;
        line-height: 22px;
        background-color: #535353;
}
.blackShrimp .select-block > .options > .option:hover, .blackShrimp .select-block > .options > .option.-focused {
          color: #f0f0f0;
          background-color: #474747;
}
.blackShrimp .select-block > .options > .option.-selected {
          color: #f0f0f0;
          background-color: #666666;
}
.blackShrimp .select-block > .options > .option.-selected:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 3px;
            height: 3px;
            border-radius: 100%;
}

.blackShrimp .cursor-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.blackShrimp .cursor-overlay.-visible {
    display: block;
}
.blackShrimp .cursor-overlay.-visible.-eyeDropper, .blackShrimp .cursor-overlay.-visible.-eyeDropper:hover {
      cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAACXBIWXMAAAsSAAALEgHS3X78AAABhElEQVQ4y63Vu4rCQBQG4GFriyktfYR5AAsfwXLLeQQfISxWa7/1FLKVxYKVW2ylVhkIhDGEWMQhweIgLARdrP6tEuIlXqIDfzMMH5zhHA4DwB5IS2s9jqIoXi6Xb/l9LQgA11qP5/P5X7fbRavVguM4ICILgN+D8SAIfowx+zRN90opMMYO4jgOXNdVN4NEZKWUJ1A5nHNEURQ/DSyjL+yJp9/v7xuNxvst6G+aplYIcfGRlJK122232Wx+XC3f87ypUgqcc/i+j6pvCIIguamljsEkSbDZbM7Cg8Hg6yp6DK5WKwDAbrfDYrE4AKWUmM1m3xfRKnC73SIMQ3DOIaUsEsfxBgCvRG8FPc+bEpG11lIZPEHvAfMePgYP0BpgZRgANplMXvNZVkphvV7XBgt0NBp9lkctDENkWVYLLFBjjC+EOJjh/CvuBXPUGQ6H+3NTUgfM0ZhzXkCdTgeMMfR6vVpggQohipKttUREmeu6qu6aYQCEMcYnokxrPXhwZzEA7B90uUovodIxjgAAAABJRU5ErkJggg==) 0 22, pointer;
}
.blackShrimp .cursor-overlay.-visible.-eyeDropper:active, .blackShrimp .cursor-overlay.-visible.-eyeDropper:hover:active {
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAACXBIWXMAAAsSAAALEgHS3X78AAABaUlEQVQ4y63VMWrDQBAF0CG1iyld6gh7ABc+go+wR3CRA4jgKupTb+EDBNylSGW70sKCECrkQiwRGIZAwEVQ9VNJyLJlO7YGfrMMD3YYGAJADySw1q7yPC92u91L/X4XBICttavtdvs7m80QBAHCMISIeAD8H4yzLPtM07Qqy7IyxoCIjhKGIeI4NjeDIuK11idQO8yMPM+LwcA2+kQD1mKxqEaj0est6E9Zll4pdbFJa02TySQej8dvV7/vnFsbY8DMcM6hbwxZln3dtFJdsK5zcBRF71fRPhAAnHNHoNYam83m4yJag0R0FmRmaK2bFEXxDYB70TZIRDDGnAWdc2sR8d57aYMnaBdsw12w3uEueIT2gd3ZtcDeEABKkuR5KLBBnXProcAG3e/3pVJqELBGw+VyWQ0F1mjBzA00nU5BRJjP53eBDaqUAjPDGAPvvYjIIY5jc++ZIQAqTdNERA7W2ujBm0UA6A8Wihn3FKuIMAAAAABJRU5ErkJggg==) 0 22, pointer;
}
