@import "variables.scss";

@font-face {
  font-family: 'Black-shrimp';
  src:
    // url('#{$icomoon-font-path}/Black-shrimp.ttf?o1kej0') format('truetype'),
    // url('#{$icomoon-font-path}/Black-shrimp.svg?o1kej0#Black-shrimp') format('svg'),
    url('chrome-extension://bnkdhmkcjmgoelciklkkdgmjadaeelkm/assets/fonts/Black-shrimp/Black-shrimp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.blackShrimp [class^="bs-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Black-shrimp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    font-size: inherit !important;
    color: inherit !important;
  }
}

.blackShrimp .bs-icon-carret-up {
  &:before {
    content: $bs-icon-carret-up;
  }
}
.blackShrimp .bs-icon-carret-down {
  &:before {
    content: $bs-icon-carret-down;
  }
}
.blackShrimp .bs-icon-carret-left {
  &:before {
    content: $bs-icon-carret-left;
  }
}
.blackShrimp .bs-icon-carret-right {
  &:before {
    content: $bs-icon-carret-right;
  }
}
.blackShrimp .bs-icon-close {
  &:before {
    content: $bs-icon-close;
  }
}
.blackShrimp .bs-icon-binoculars {
  &:before {
    content: $bs-icon-binoculars;
  }
}
.blackShrimp .bs-icon-eyeDropper {
  &:before {
    content: $bs-icon-eyeDropper;
  }
}
.blackShrimp .bs-icon-folder {
  &:before {
    content: $bs-icon-folder;
  }
}
.blackShrimp .bs-icon-plus {
  &:before {
    content: $bs-icon-plus;
  }
}
.blackShrimp .bs-icon-ruler {
  &:before {
    content: $bs-icon-ruler;
  }
}
.blackShrimp .bs-icon-trash {
  &:before {
    content: $bs-icon-trash;
  }
}

