// Colors
$gray: #535353;
$gray-light: #666666;
$gray-dark: #474747;

$soft-white: #f0f0f0;

// Border radius
$border-radius: 5px;

// Fonts
// font icon
@import '../assets/fonts/Black-shrimp/style.scss';

@font-face {
  font-family: 'Poppins';
  src: url('chrome-extension://bnkdhmkcjmgoelciklkkdgmjadaeelkm/assets/fonts/poppins/poppins-regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.black-shrimp {
  // Style resets, preventing local style affecting this component.
  all: initial; /* blocking inheritance for all properties */
  * {
    all: unset; /* allowing inheritance within .black-shrimp */
  }

  position: fixed;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  padding: 8px;
  width: 232px;

  font-family: 'Poppins', monospace;

  z-index: 9999;
}

.bs-menu {
  $height: 28px;

  display: block;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
  height: $height;

  color: $gray-dark;
  background-color: $soft-white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  overflow: hidden;

  .bs-menu__item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 8px;
    height: $height;

    font-size: 12px;
    line-height: $height;

    cursor: pointer;
    transition: all, 0.3, linear;

    > * {
      vertical-align: top;
    }

    &.active {
      color: $soft-white;
      background-color: $gray-dark;
    }

    i.bs-icon {
      font-size: 18px;
    }
  }
}

// Components
.colorPicker {
  position: fixed;
  top: 10px;
  right: 10px;
  box-sizing: border-box;
  padding: 9px;
  width: 240px;
  height: 40px;

  font-family: 'Poppins', monospace;
  font-size: 0;
  line-height: 0;

  background-color: $gray;
  border-radius: 4px;
  z-index: 9999;

  & > * {
    display: inline-block;
    vertical-align: top;
  }

  * {
    box-sizing: border-box;
  }

  .colorPicker__color {
    position: relative;
    margin-right: 9px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid $gray-light;
  }

  .colorPicker__valueWrapper {
    width: 134px;

    input {
      display: inline-block;
      height: 22px;
      text-align: center;
      font-size: 11px;
      font-family: 'Poppins', monospace;
    }

    .colorPicker__hexWrapper {
      input {
        width: 100%;
      }
    }

    .colorPicker__rgbWrapper,
    .colorPicker__hslWrapper {
      input {
        width: 43px;
      }
      input + input {
        margin-left: 2px;
      }
    }

    .hidden {
      display: none !important;
    }
  }

  input[type='text'] {
    color: $soft-white;
    background-color: $gray-dark;
    border: solid 1px $gray-light;
    border-radius: 3px;
  }
}
