@charset "uft-8";

@import './abstracts/variables';
@import './abstracts/mixins';

@import 'reset-css/sass/_reset.scss';

@import './components/icons';
@import './components/tooltip';


// Utilities
.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center !important;
}

// General
body {
  margin: 0;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

:focus {
  @include outline;
}

::selection {
  background-color: rgba($color-brand, 0.75);
}

kbd {
  padding: ($spacer / 4) ($spacer / 2);
  font-size: 0.75em;
  line-height: $line-height-lg;
  font-weight: $font-weight-bold;
  color: $gray-darker;
  background-color: $gray-lighter;
  border-radius: $border-radius-sm;
}
