@import './abstracts/variables';
@import './abstracts/mixins';
@import 'reset-css/sass/_reset.scss';
@import './components/icons';

body {
  margin: 0;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

:focus {
  @include outline-chrome;
}

::selection {
  background-color: rgba($color-brand, 0.75);
}

// Utilities
.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}
