// Colors
$gray-darker: #333333;
$gray-dark: #474747;
$gray: #535353;
$gray-light: #666666;
$gray-lighter: #b3b3b3;

$soft-white: #f0f0f0;

// Spacing
$spacer: 8px;

// Borders
$border-width: 1px;
$border-radius: 5px;
$border-radius-sm: 3px;

// Outlines
$outline-dashed: dashed 1px $gray-lighter;

// Fonts
$font-folder: '../assets/fonts/' !default;
$font-family-base: monospace;
$font-family-icon: 'Black-shrimp';
$line-height-base: 1.5;
$font-weight-bold: 600;

// Transitions
$transition-duration: 0.2s;

// Shadows
$shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
