$icomoon-font-path: "assets/fonts/Black-shrimp" !default;

$bs-icon-carret-up: "\e907";
$bs-icon-carret-down: "\e908";
$bs-icon-carret-left: "\e909";
$bs-icon-carret-right: "\e90a";
$bs-icon-close: "\e906";
$bs-icon-binoculars: "\e900";
$bs-icon-eyeDropper: "\e901";
$bs-icon-folder: "\e902";
$bs-icon-plus: "\e903";
$bs-icon-ruler: "\e904";
$bs-icon-trash: "\e905";

