$icomoon-font-path: "assets/fonts/Black-shrimp" !default;

$bs-icon-binoculars: "\e900";
$bs-icon-eyeDropper: "\e901";
$bs-icon-folder: "\e902";
$bs-icon-plus: "\e903";
$bs-icon-ruler: "\e904";
$bs-icon-trash: "\e905";

