// Colors
$gray-darker: #333333;
$gray-dark: #474747;
$gray: #535353;
$gray-light: #666666;
$gray-lighter: #B3B3B3;

$soft-white: #f0f0f0;


// Spacing
$spacer: 8px;

// Borders
$border-radius: 5px;
$border-radius-sm: 3px;
