// Icons
$icons: (
  carret-up: '\e907',
  carret-down: '\e908',
  carret-left: '\e909',
  carret-right: '\e90a',
  close: '\e906',
  binoculars: '\e900',
  eyeDropper: '\e901',
  folder: '\e902',
  plus: '\e903',
  ruler: '\e904',
  trash: '\e905'
);

@font-face {
  font-family: 'Black-shrimp';
  src: url('../assets/fonts/Black-shrimp/Black-shrimp.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon'] {
  font-family: 'Black-shrimp';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    font-size: inherit;
    color: inherit;
  }
}

@each $name, $icon in $icons {
  .icon-#{$name}:before {
    content: $icon;
  }
}
