@font-face {
  font-family: 'Poppins';
  src:
    url('chrome-extension://bnkdhmkcjmgoelciklkkdgmjadaeelkm/assets/fonts/Poppins/poppins-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
